# docker-compose.production.yml для Taski
version: '3'

volumes:
  taski_pg_data:  # Изменяем имя volume
  taski_static:   # Изменяем имя volume

services:
  taski_db:  # Меняем имя контейнера
    image: postgres:13.10
    env_file: .env  # Используем отдельный .env файл
    volumes:
      - taski_pg_data:/var/lib/postgresql/data

  taski_backend:  # Меняем имя контейнера
    image: mrqwas/taski_backend
    env_file: .env  # Используем отдельный .env файл
    volumes:
      - taski_static:/backend_static
    depends_on:
      - taski_db

  taski_frontend:  # Меняем имя контейнера
    image: mrqwas/taski_frontend
    env_file: .env  # Используем отдельный .env файл
    command: cp -r /app/build/. /static/
    volumes:
      - taski_static:/static

  taski_gateway:  # Меняем имя контейнера
    image: mrqwas/taski_gateway
    env_file: .env  # Используем отдельный .env файл
    volumes:
      - taski_static:/staticfiles/
    ports:
      - 8000:80  # Taski будет на порту 8000 (Kittygram на 9000)
    depends_on:
      - taski_backend
      - taski_frontend